<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.php.debug.core.launching.PHPExeLaunchConfigurationType">
<stringAttribute key="ATTR_FILE" value="/Midtrem Test/index.php"/>
<stringAttribute key="ATTR_FILE_FULL_PATH" value="F:\PHP\ZendStudio\Midtrem Test\index.php"/>
<stringAttribute key="ATTR_LOCATION" value="C:\Program Files (x86)\Zend\Zend Studio 12.0.0\plugins\com.zend.php.debug.debugger.php55.win32.x86_12.0.0.v20141115-2331\resources\php55\php.exe"/>
<stringAttribute key="debugOutputEncoding" value="UTF-8"/>
<stringAttribute key="debugTransferEncoding" value="UTF-8"/>
<booleanAttribute key="firstLineBreakpoint" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Midtrem Test/index.php"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.php.debug.core.PHP_Project" value="/Midtrem Test"/>
<booleanAttribute key="org.eclipse.php.debug.core.RunWithDebugInfo" value="true"/>
<stringAttribute key="org.eclipse.php.debug.coreconfiguration_delegate_class" value="com.zend.php.debug.core.launch.PHPExecutableExtendedLaunchDelegate"/>
<stringAttribute key="org.eclipse.php.debug.corephp_debugger_id" value="org.eclipse.php.debug.core.zendDebugger"/>
<stringAttribute key="php_debug_type" value="php_exe_script_debug"/>
</launchConfiguration>
